body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 80px auto;
    width: 50%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
