body {
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Tuffy", sans-serif;
  line-height: 1;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin: 20px;
  max-width: 350px;
  height: auto;
  padding: 20px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}

.container p {
  margin: 0;
  line-height: 1.2;
  color: gray;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 420px) {
  .container h1 {
    font-size: 1.2rem;
  }

  .container h1 {
    font-size: 0.9rem;
  }
}
